*{
	margin:0;
	padding:0;
}
body{
	background-color:#efefef;
	font-size:16px;
	font-family: "微软雅黑";
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
input{

	outline: none;
	/*font-size: 20px;
	font-weight: bold;*/
}
/*input::-webkit-input-placeholder { 
	font-size: 12px;	
	color:red;
}*/
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

#head{
	cursor: pointer;
	margin-top:24px;
	width:300px;
	height:60px;
	margin-left:130px;
	background:url("../img_register/sprite.png") no-repeat -2px -2px;
}
#main{
	position: relative;
	width:1000px;
	height:836px;
	background-color: #fff;
	margin:50px auto;
	margin-left:140px;
	float:left;
}
.zhuce{
	position: absolute;
	font-size:22px;
	color:#ca5252;
	left:200px;
	top:180px;
	z-index: 2;
}

#main div{
	position: relative;
	background-color:palegreen;
	width:660px;
	height:48px;
	margin-bottom:26px;
	padding-top:2px;	
}
/*小叉号*/
#main div .cha{
	display: block;
	width:16px;
	height:16px;
	position: absolute;
	top:35%;
	cursor: pointer;
	background:url("../img_register/cha.png") no-repeat; 
}
#main div .cha:hover{
	background:url("../img_register/cha_hover.png") 2px 1px;
}
#main .userId .cha{
	left:235px;
}
#main .password .cha{
	left:350px;
}
#main .passwordConfirm .cha{
	left:382px;
}
#main .identifyingCode .cha{
	left:366px;
}
#main .phone .cha{
	left:366px;
}
#main .message .cha{
	left:398px;
}

#main div input{
	font-size:16px;
	text-indent:6px;
	width:320px;
	height:44px;
	border:1px solid #cbcbcb;
}
#main .userId{
	margin-left:290px;
	margin-top:114px;
}
#main .userId .houzhui{
	position: absolute;
	background-color:#fff;
	width:104px;
	height:44px;
	line-height:44px;
	border:1px solid #cbcbcb;
	margin-left:10px;
	text-indent: 6px;
}
#main div .hint{	
	position: relative;
	font-size:12px;
	height:31px;
	margin-left:380px;
	margin-top:-46px;
	background-size:14px 14px;
	padding-top:13px;
	text-indent: 5px;
}

#main div .hint .hint_span{
	position: absolute;
	top:12px;
}
#main .passwordConfirm .hint{	
	position: relative;
	font-size:12px;
	height:31px;
	margin-left:410px;
	margin-top:-46px;
	background-size:14px 14px;
	padding-top:13px;
	text-indent: 5px;
}


#main .userId input{
	width:200px;
}
#main .password{
	margin-left:290px;
}
#main .passwordConfirm{
	margin-left:258px;
}
#main .passwordConfirm{
	margin-left:260px;
}
#main .identifyingCode{
	margin-left:276px;
}
#main .phone{
	margin-left:276px;
}
#main .message{
	margin-left:244px;
}

/*验证码*/
#main .identifyingCode .div1{
	width:322px;
	height:34px;
}
/*注册按钮*/
 #main #btn1{
	 cursor: pointer;
	 width:323px;
	 height:47px;
	 background-color: red;
	 border:none;
	 margin-left:340px;
	 opacity:.5;
	 color:#fff;
	 font-size:18px;
	 letter-spacing:12px;
}